.Introduction {
  padding: 100px 5vw 80px 5vw;

  /* background-color: black; */

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Introduction .text-box-for-img {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 2px 10px;
  max-width: 600px;
}
